/* Gets rid of dumb blue border for chrome */
button:focus {outline:0;}

#content-wrapper {
    margin: 50px;
}

.right-wrapper {
    margin-left: 6px;
}

.left-wrapper {
    margin-right: 6px;    
}

.edit {
    margin-right: 1em;
}

thead {
    font-weight: 700;
}

th .btn {
    padding: 3px 6px;
}

.col-6 {
    padding: 0px;
}

.cointainer-header {
    padding: 12px;
    width: 100%;
    
    color: white;
    background-color: #007BFF;
    border-top-left-radius: .35em;
    border-top-right-radius: .35em;

    font-size: 1.2em;
    font-weight: 700;
}

#schedule, #add-train, #next-five {
    border: 3px solid #333;
    border-radius: .6em;
    margin-bottom: 12px;    
}

#train-form {
    padding: 12px;
}

form .row {
    padding: 0 14px;
}

.alert {
    padding: .375rem .75rem;
    margin: 0;
    /* opacity: 0; */
}

form .col-10 {
    padding-left: 12px;
    padding-right: 0;
}

#alert-message, #edit-alert {
    opacity: 0;
}

#edit-alert {
    opacity: 1;
}

.action:hover {
    cursor: pointer;    
}